services:
  app:
    build:
      context: .
    volumes:
      - .:/app
      - ./linux/logrotate.d/app:/etc/logrotate.d/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - ENV=dev
    working_dir: /app
    command: sh -c "go run cmd/main.go"
    tty: true

  db:
    image: postgres:17.4
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
      - ./data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=project_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
